.menu-bg {
  background: #2c70ff;
}
.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu a {
  color: white;
}
.menu-logo a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 auto;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  gap
}
.menu-nav a{
  padding: 10px;
  display: block;
  font-size: 1.125em;
}
.menu-nav a:hover{
color: #122ab2;
}